@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}

div {
  display: block;
}

.osc--modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 450px;
  border-radius: 10%;

}

.osc--mainText {
  font-family: "Red Hat Display";  
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
}

.osc--topImage {
  background-image: url(/images/illustration-hero.svg);
  background-repeat: no-repeat;

}
